@import url(../lib/bs4/css/bootstrap.min.css);

body.rtl {
    direction: rtl;
}

body.rtl .toRtl {
    align-self: flex-start;
}

body.rtl > .card-body {
    direction: rtl;
}

html, body {
    height: 100%;
}

body {
    padding-right: 0px !important;
}

th, td {
    text-align: center;
}

th {
    font-size: 15px;
}

.title-td {
    text-align: left;
}

body.rtl .title-td {
    text-align: right;
}

.books-container {
    height: 70%;
}

header {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    height: 10%;
    background-color: darkgrey;
    margin-bottom: 20px;
}

th:nth-child(2), th:nth-child(3) {
    cursor: pointer;
}

.books-table .row {
    margin: 0px;
}

.books-table button {
    align-self: center;
    margin-bottom: 2px;
    width: 80%;
    height: 40px;
}

.modal button.close {
    margin-left: 0px;
}

.actions-buttons {
    display: flex;
    flex-direction: column;
}

/* .modal {
    margin: 0px;
} */

@media (min-width: 768px) {

    .actions-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .books-table button {
        align-self: center;
        width: 32%;
        padding: 0px;
    }
}